body {
	background-color: cadetblue;
	font-family: "FlappyBird";
}

.screen {
	width: 350px;
	margin: 25px auto 0px;
	cursor: pointer;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none !important;
	cursor: default;
}

@font-face {
	font-family: FlappyBird;
	src: url('assets/fonts/flappy.ttf');
}

/* Window */

.window {
	height: 450px;
	background: url('assets/images/bg.png');
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;

	display: flex;
}

.clickable-div {
	cursor: pointer;
}


#help {
	position: absolute;
	opacity: 1;
	top: 180px;
	left: 65px;
	width: 188px;
	height: 170px;
	background-image: url('assets/images/splash.png');
	background-repeat: no-repeat;
}


/* Bird */

.bird {
	position: absolute;
	bottom: 30%;
	left: 20%;

	height: 30px;
	width: 40px;

	z-index: 100;
}

#bird {
	height: 28px;
	width: 40px;
}


/* Score */

.score-border {
	position: absolute;
	width: 350px;
	height: 70px;
	margin-top: -28px;
	background: url(./assets/images/ground.png);

	display: table;
}


.score {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	align-content: center;
	padding-top: 1.5rem;
	color: white;
	font-size: 32px;
	font-family: FlappyBird;
}


.scoreboard {
	position: absolute;
	display: none;
	opacity: 1;
	top: 125px;
	left: 57px;
	width: 236px;
	height: 280px;
	background-image: url('./assets/images/scoreboard.png');
	background-repeat: no-repeat;

	z-index: 1000;
}

#replay {
	position: absolute;
	opacity: 1;
	top: 200px;
	left: 62px;
	height: 115px;
	width: 70px;
	cursor: pointer;
}

#scoreGame {
	position: absolute;
	top: 105px;
	left: 107px;
	width: 104px;
	height: 20px;
	text-align: right;
}

/* Pipes */

.pipe {
	width: 60px;
	height: 100%;
	position: absolute;
	right: -60px;
	z-index: 200;
}

.pipe .obstacleHaut {
	background: url(./assets/images/pipe.png) bottom;
	position: absolute;
	top: 0;
	width: 100%;
}

.pipe .obstacleBas {
	background: url(./assets/images/pipe.png) top;
	position: absolute;
	bottom: 0;
	width: 100%;
}
